* {
    font-family: Arial;
}

td {
    width: 250px;
    display: inline-table;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: solid 1px;
}

h4 {
    text-align: center;
}

p {
    margin-top: 0px;
    margin-bottom: 6px;
}

label {
    float: right;
}

div#holder {
    margin-left: 10px;
}

button {
    margin-bottom: 10px;
}
